<main class="main">
    <div class="stopwatch">
      <p>{{ showSeconds | displayTime }}</p>
    </div>
    <div class="buttons">
      <button 
        mat-raised-button 
        [disabled]="isDisabledStartStop" 
        [ngClass] = "{ start:!isRunning, stop:isRunning }" 
        (click) = "startStop(!isRunning)"
      >{{ buttonTitle }}</button>
      <button 
        mat-raised-button 
        [disabled]="isDisabledReset" 
        class="reset" 
        (click)="reset()"
      >Reset</button>
      <button 
        mat-raised-button 
        [disabled]="isDisabledWait" 
        class="wait" 
        (click)="wait($event)"
      >Wait</button>
    </div>
</main>