<main class="main">
  <div class="stopwatch">
    <p>
      {{ ((seconds$ | async) || 0) * 1000 | date: 'HH:mm:ss' : 'UTC' }}
    </p>
  </div>

  <div class="buttons">
    <button 
      mat-raised-button 
      *ngIf="!(start$| async)"
      class="start" 
      (click)="start()"
    >Start</button>

    <button 
      mat-raised-button 
      *ngIf="start$| async"
      class="stop" 
      (click)="stop()"
    >Stop</button>

    <button 
      mat-raised-button 
      [disabled]="!(seconds$ | async)" 
      class="reset" 
      (click)="reset()"
    >Reset</button>

    <button 
      mat-raised-button 
      [disabled]="!(start$| async)" 
      class="wait" 
      (click)="wait()"
    >Wait</button>
  </div>
</main>