.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.stopwatch {
    font-size: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin-top: 2rem;
    display: flex;
}

.start {
    background: rgb(17, 172, 17);
}

.reset {
    margin: 0rem .5rem;
    background: rgb(223, 223, 23);
}

.stop {
    background: rgb(227, 27, 27);
}

.wait {
    background: rgb(218, 215, 215);
}

.start:hover {
    background: rgb(21, 209, 21);
    transition: .2s;
}

.reset:hover {
    background: rgb(250, 250, 36);
    transition: .2s;
}

.stop:hover {
    background: rgb(235, 59, 59);
    transition: .2s;
}

.wait:hover {
    background: rgb(234, 233, 233);
    transition: .2s;
}